/*@font-face{*/
    /*font-family: 'Dosis';*/
    /*src: url(https://fonts.googleapis.com/css?family=Dosis);*/
/*}*/
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Marvel);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
body{
    margin:0;
    font-size: 14px;
}
p {
    margin: 0;
    padding: 0;
}
canvas{
    display: block;!important;
    margin: 0!important;
}
#container{
    position: absolute;
    perspective: 30000px;
    width: 960px;
    height: 640px;
    margin: auto;
    background-color: #000;
    background-size: 100% 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
#welcome-screen{
    width: 100%;
    position: absolute;
    height: 100%;
    display: none;
}
#welcome-screen > .nova {
    position: absolute;
    background-image: url(./assets/welcome-nova.png);
    background-size: 100% 100%;
    width: 100%;
    height: 75%;
    top: 0;
}
#welcome-screen > .game-logo {
    position: absolute;
    background-image: url(./assets/welcome-logo.png);
    width: 75%;
    height: 35%;
    left: 12.5%;
    top: 18%;
}
#welcome-screen > .game-logo-glow {
    position: absolute;
    background-image: url(./assets/welcome-logo-glow.png);
    width: 75%;
    height: 35%;
    left: 12.5%;
    top: 18%;
}
#welcome-screen > .text {
    position: absolute;
    width: 100%;
    height: 35%;
    top: 80%;
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
    color: #06ff00;
    text-transform: uppercase;
}
#glow-explosion{
    position: absolute;
    width: 960px;
    height: 640px;
    margin: auto;
    background-image: url(./assets/glow-explosion.jpg);
    background-size: 100% 100%;
    z-index: -100;
    opacity: 0;
}

#cube {
     left: 330px;
     width: 300px;
     height: 550px;
    top: 45px;
     position: absolute;
     transform-style: preserve-3d;
     -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
     backface-visibility: hidden;
}
.cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    margin: 0!important;
    transform-origin: 50% 50%;
}
.cube-face-front {
    transform: translate3d(0, 0,150px);
}
.cube-face-back {
    transform: rotateY(180deg) translate3d(0, 0,150px);
}
.cube-face-right {
    transform: rotateY(90deg) translate3d(0, 0,150px);
}
.cube-face-left {
    transform: rotateY(-90deg) translate3d(0, 0,150px);

}
.cube-face-top {
    height: 300px;
    transform: rotateX(90deg) translate3d(0, 0,150px);
}
.cube-face-bottom {
    height: 300px;
    transform: rotateX(-90deg) translate3d(0px, 0,400px);
}


#b-cube {
    left: 500px;
    width: 300px;
    height: 550px;
    top: 45px;
    position: absolute;
    perspective:-300px;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    display: none;
}

.b-cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    margin: 0!important;
    transform-origin: 50% 50%;
}
.b-cube-face-front {
    transform: translate3d(0, 0,150px);
}
.b-cube-face-back {
    transform: rotateY(180deg) translate3d(0, 0,150px);
}
.b-cube-face-right {
    transform: rotateY(90deg) translate3d(0, 0,150px);
}
.b-cube-face-left {
    transform: rotateY(-90deg) translate3d(0, 0,150px);
}
.b-cube-face-top {
    height: 300px;
    transform: rotateX(90deg) translate3d(0, 0,150px);
}
.b-cube-face-bottom {
    height: 300px;
    transform: rotateX(-90deg) translate3d(0px, 0,400px);
}

/* UI */

#ui-player-1{
    position: absolute;
    width: 12.5%;
    height: 86%;
    top: 7%;
    left: 0;
    background-image: url(./assets/background-ui.jpg);
    background-size: 100% 100%;
    z-index: 4000;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: #a4a4a4;
    text-transform: uppercase;
}

#ui-player-2{
    position: absolute;
    width: 12.5%;
    height: 86%;
    top: 7%;
    right: 0;
    background-image: url(./assets/background-ui-mirror.jpg);
    background-size: 100% 100%;
    z-index: 4000;
    font-family: "Orbitron", sans-serif;
    color: #a4a4a4;
    text-transform: uppercase;

}

.ui-wrapper{
    width: auto;
    padding: 2.5em 2.5em 0 0.75em;
}
.player-2-wrapper{
    width: auto;
    padding: 2.5em 0.75em 0 2.5em;
    display: none;
}

.divider-line{
    border-bottom: solid 2px #a4a4a4;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.score-title{
    font-size: 1.3em;
}

.score-counter{
    font-size: 1.05em;
}

.lines-left-title{
    font-size: 1.5em;
}
.lines-left-title > .adjust{
    font-size: 1.15em;
}
.lines-left-counter{
    font-size: 2.1em;
}

.piece-frame{
    background-color: #1c1c1c;
    width: 5em;
    height: 9em;
    border: solid 2px #a4a4a4;
    border-radius: 1em;
    margin-top: 0.5em;
    margin-bottom:0.25em;
    position: relative;
}

.piece-frame > .title{
    margin-top: 0.5em;
}

.power-up-icon{
    width: 2.25em;
    height: 2.25em;
    border-radius: 0.5em;
    border: solid 2px #a4a4a4;
    float: left;
    margin-top: 0.25em;
    margin-right: 0.25em;
}

.power-up-icon:nth-child(even){
    margin-right: 0em;
}

.wait-player-2{
    margin-top: 15em;
    padding: 2.5em 0.75em 0 2.5em;

}

.piece-sprite{
    background-image: url(./assets/glow-white-30.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45px;
    left: 15px;
    background-size: 100% 100%;
}

.piece-colour-0{
    background-image: url(./assets/pieces/0.png);
}
.piece-colour-1{
    background-image: url(./assets/pieces/1.png);
}
.piece-colour-2{
    background-image: url(./assets/pieces/2.png);
}
.piece-colour-3{
    background-image: url(./assets/pieces/3.png);
}
.piece-colour-4{
    background-image: url(./assets/pieces/4.png);
}
.piece-colour-5{
    background-image: url(./assets/pieces/5.png);
}
.piece-colour-6{
    background-image: url(./assets/pieces/6.png);
}

.upside-down{
    background-image: url(./assets/powerups/upside-down.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.clone-piece{
    background-image: url(./assets/powerups/clone-piece.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bad-shuffle{
    background-image: url(./assets/powerups/bad-shuffle.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}