/*@font-face{*/
    /*font-family: 'Dosis';*/
    /*src: url(https://fonts.googleapis.com/css?family=Dosis);*/
/*}*/
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Marvel);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
canvas{
    display: block;!important;
    margin: 0!important;
}
#container{
    position: absolute;
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: black;
    z-index: -100;

}
.cube-viewport{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 50px;
    transform-origin: 50% 50% 150px;
}